<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>TiY2</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>FCIcon.png</string>
	<key>CFBundleIdentifier</key>
	<string>ie.ul.idc.futurecomm.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>Product information</key>
	<string>TiY (tm) 2010</string>
	<key>Product URL</key>
	<string>www.idc.ul.ie/projects/futurecom</string>
	<key>Project information</key>
	<string>The FutureCOMM project</string>
	<key>Project URL</key>
	<string>www.idc.ul.ie/projects/futurecom</string>
	<key>License information</key>
	<string>GNU GPL v3</string>
	<key>License URL</key>
	<string>www.gnu.org/licenses/gpl.html</string>
	<key>Source information</key>
	<string>Source available here</string>
	<key>Source URL</key>
	<string>sourceforge.net</string>
</dict>
</plist>
