<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>system_0_1</key>
	<string>battery1Icon.png</string>
	<key>system_0_2</key>
	<string>battery2Icon.png</string>
	<key>system_0_3</key>
	<string>ballIcon.png</string>
	<key>system_0_4</key>
	<string>bikeIcon.png</string>
	<key>system_0_5</key>
	<string>bottle1Icon.png</string>
	<key>system_0_6</key>
	<string>bottle2Icon.png</string>
	<key>system_0_7</key>
	<string>cameraIcon.png</string>
	<key>system_0_8</key>
	<string>cartonIcon.png</string>
	<key>system_0_9</key>
	<string>catIcon.png</string>
	<key>system_0_10</key>
	<string>clockIcon.png</string>
	<key>system_0_11</key>
	<string>cloudIcon.png</string>
	<key>system_0_12</key>
	<string>cogIcon.png</string>
	<key>system_0_13</key>
	<string>computerIcon.png</string>
	<key>system_0_14</key>
	<string>cutlery1Icon.png</string>
	<key>system_0_15</key>
	<string>cutlery2Icon.png</string>
	<key>system_0_16</key>
	<string>dropIcon.png</string>
	<key>system_0_17</key>
	<string>face1Icon.png</string>
	<key>system_0_18</key>
	<string>face2Icon.png</string>
	<key>system_0_19</key>
	<string>face3Icon.png</string>
	<key>system_0_20</key>
	<string>face4Icon.png</string>
	<key>system_0_21</key>
	<string>face5Icon.png</string>
	<key>system_0_22</key>
	<string>figure1Icon.png</string>
	<key>system_0_23</key>
	<string>figure2Icon.png</string>
	<key>system_0_24</key>
	<string>figure3Icon.png</string>
	<key>system_0_25</key>
	<string>figure4Icon.png</string>
	<key>system_0_26</key>
	<string>flakeIcon.png</string>
	<key>system_0_27</key>
	<string>flowerIcon.png</string>
	<key>system_0_28</key>
	<string>fruit1Icon.png</string>
	<key>system_0_29</key>
	<string>glass1Icon.png</string>
	<key>system_0_30</key>
	<string>hangerIcon.png</string>
	<key>system_0_31</key>
	<string>heartIcon.png</string>
	<key>system_0_32</key>
	<string>houseIcon.png</string>
	<key>system_0_33</key>
	<string>luggageIcon.png</string>
	<key>system_0_34</key>
	<string>mugIcon.png</string>
	<key>system_0_35</key>
	<string>pageIcon.png</string>
	<key>system_0_36</key>
	<string>pillIcon.png</string>
	<key>system_0_37</key>
	<string>planeIcon.png</string>
	<key>system_0_38</key>
	<string>potIcon.png</string>
	<key>system_0_39</key>
	<string>scale1Icon.png</string>
	<key>system_0_40</key>
	<string>scale2Icon.png</string>
	<key>system_0_41</key>
	<string>starIcon.png</string>
	<key>system_0_42</key>
	<string>sunIcon.png</string>
	<key>system_0_43</key>
	<string>tankardIcon.png</string>
	<key>system_0_44</key>
	<string>tiyIcon.png</string>
	<key>system_0_45</key>
	<string>treesIcon.png</string>
	<key>system_0_46</key>
	<string>trolleyIcon.png</string>
	<key>system_0_47</key>
	<string>tubeIcon.png</string>
	<key>system_0_48</key>
	<string>weightIcon.png</string>
	<key>system_0_49</key>
	<string>wrench1Icon.png</string>
	<key>system_0_50</key>
	<string>wrench2Icon.png</string>
	<key>system_0_51</key>
	<string>birdIcon.png</string>
	<key>system_0_52</key>
	<string>firstAidIcon.png</string>
	<key>system_0_53</key>
	<string>food1Icon.png</string>
	<key>system_0_54</key>
	<string>food2Icon.png</string>
	<key>system_0_55</key>
	<string>fruit2Icon.png</string>
	<key>system_0_56</key>
	<string>fruit3Icon.png</string>
	<key>system_0_57</key>
	<string>glass2Icon.png</string>
	<key>system_0_58</key>
	<string>kitchen1Icon.png</string>
	<key>system_0_59</key>
	<string>kitchen2Icon.png</string>
	<key>system_0_60</key>
	<string>kitchen3Icon.png</string>
	<key>system_0_61</key>
	<string>plateIcon.png</string>
	<key>system_0_62</key>
	<string>roadIcon.png</string>
	<key>system_0_63</key>
	<string>rulerIcon.png</string>
</dict>
</plist>
